@font-face {
    font-family: 'Do Hyeon';
    src:url("../assets/fonts/Do_Hyeon/DoHyeon-Regular.ttf");
}

body {
    font-family: 'Do Hyeon';
}

.App {
    border: 3px solid red;
}

.ImgWrapper {
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.ImgWrapper img {
    width: 100%;
    height: 100%;
}